<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1>Registrate</h1>
    <form th:action="@{/registro}" method="post" th:object="${register}">
        <input type="text" name="username" placeholder="username" th:field="*{username}" required>
        <input type="password" name="password" placeholder="password" th:field="*{password}" required>
        <button type="submit">Login</button>
    </form>
    <a>Ya tienes una cuenta? <a th:href="@{/login}">Registrate</a></a>
</div>
</body>
</html>
