<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Civil</title>
</head>
<body>
<h1>Bienvenido a la interfaz de Usuarios</h1>

<!-- Formulario de búsqueda por ID -->
<form action="/buscarCiudadano" method="get">
    <label for="id">Buscar por ID de Ciudadano:</label>
    <input type="number" id="id" name="id" required>
    <button type="submit">Buscar</button>
</form>

<!-- Mostrar tabla de ciudadanos -->
<table border="1">
    <thead>
    <tr>
        <th>Cédula</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Fecha de Nacimiento</th>
        <th>Género</th>
        <th>Nombre del Padre</th>
        <th>Nombre de la Madre</th>
        <th>Estado Civil</th>
        <th>Fecha de Emisión</th>
        <th>Fecha de Vencimiento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ciudadano : ${ciudadanos}">
        <td th:text="${ciudadano.cedula}"></td>
        <td th:text="${ciudadano.nombres}"></td>
        <td th:text="${ciudadano.apellidos}"></td>
        <td th:text="${ciudadano.fechaNacimiento}"></td>
        <td th:text="${ciudadano.genero}"></td>
        <td th:text="${ciudadano.nombrePadre}"></td>
        <td th:text="${ciudadano.nombreMadre}"></td>
        <td>
            <a th:href="@{/editarCiudadano/{id}(id=${ciudadano.ciudadanoId})}">Editar</a>
        </td>
    </tr>
    </tbody>

</table>

<form th:action="@{/logout}" method="post" id="logout-form">
    <button type="submit" class="hover:text-gray-200 transition-colors focus:outline-none">
        Cerrar Sesión
    </button>
</form>

</body>
</html>
